body{
    text-align: center;
}

#roll {
    padding: 12px;
}
.dice-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 24px 0 24px 0;
}
.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    padding: 4px;
    background-color: darkred;
    width: 104px;
    height: 104px;
    border-radius: 10%;
    margin-right: 10px;
}

.dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
}

.second-face {
    display: flex;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face {
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
    align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}


.fourth-face,
.sixth-face,
.fifth-face {
    display: flex;
    justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column,
.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

ul {
    display: flex;
}
li {
    list-style-type: none;
    width: 112px;
    height: auto;
    padding: 0 12px;
}
p {
    text-align: center;
    margin: 0;
}